# Data Types & Basic Programs
- Write solution of each question in the cell given below the corresponsing question.

#### 1. Write a program to take principal amount, rate and interest as input and calculate simple interest.

In [42]:
details=input("Enter the Details(Principal amount,Duration,Rate) : ").split()

amount=int(details[0])
duration=float(details[1])
rate=int(details[2])

simple_interest=amount*duration*rate/100
print("The simple interest for amount {} on duration of {} years at  {}% is {}%".format( amount,duration,rate,simple_interest))

Enter the Details(Principal amount,Duration,Rate) : 10000 3.5 7
The simple interest for amount 10000 on duration of 3.5 years at  7% is 2450.0%

#### 2. Write a program that takes a string as input and prints the number of words in the string.

In [11]:
words=input("Enter words in the string : ").split()
print("The Number of words in the string : ",len(words))

Enter words in the string : The code for apple is aaa bbb ccc
The Number of words in the string :  8

#### 3. Write a program to take a list of numbers as input (in a single line) and print the sum, avg, max and min elements.

In [14]:
numbers=list(map(int,input("Enter the five numbers : ").split( )))
print("The sum of numbers are : ", sum(numbers))
print("The Average of numbers are : ",sum(numbers)/len(numbers))
print("The Maximum element is : ",max(numbers))
print("The Minimum element is : ",min(numbers))

Enter the five numbers : 70 80 90 95 96
The sum of numbers are :  431
The Average of numbers are :  86.2
The Maximum element is :  96
The Minimum element is :  70

#### 4. Write a program to take the marks of 3 students in five subjects each as a list (one list for each input) as input and print the average score of each student..

In [20]:
student1=list(map(int,input("Enter the Marks in Five subjects : ").split( )))
student2=list(map(int,input("Enter the Marks in Five subjects : ").split( )))
student3=list(map(int,input("Enter the Marks in Five subjects : ").split( )))


print("The Average score of Student 1 is: ",sum(student1)/len(student1))
print("The Average score of student 2 is : ",sum(student2)/len(student2))
print("The Average score of student 3 is : ",sum(student3)/len(student3))

Enter the Marks in Five subjects : 67 78 89 97 90
Enter the Marks in Five subjects : 82 83 84 85 86
Enter the Marks in Five subjects : 90 91 94 95 96
The Average score of Student 1 is:  84.2
The Average score of student 2 is :  84.0
The Average score of student 3 is :  93.2

#### 5. Write a program to take a list as input containing results of 10 coin tosses as 'H' or 'T'. Jon gets a point for each 'T' and Tom gets a point for each 'H'. print the points recieved by both.

In [5]:
outcomes=input("Enter the result of 10 coin tosses: ")
tom=outcomes.count('H')
jon=outcomes.count('T')

print("points received by tom {} and jon {}".format(tom,jon))

Enter the result of 10 coin tosses: H T T T T H H H T T
points received by tom 4 and jon 6

#### 6. Take two numbers as input and print the result after swapping them. (Without using multiple assignment and any extra variable).

In [21]:
num1=int(input("Enter the number 1 : "))
num2=int(input("Enter the number 2 : "))

print("The values before swapping are below : ")
print("The value of num1 : ",num1)
print("The value of num2 : ",num2)

num1=num1+num2
num2=num1-num2
num1=num1-num2
 
    
print("The values after swapping are below: ")
print("The value of num1 : ",num1)
print("The value of num2 : ",num2)

Enter the number 1 : 10
Enter the number 2 : 20
The values before swapping are below :
The value of num1 :  10
The value of num2 :  20
The values after swapping are below:
The value of num1 :  20
The value of num2 :  10

#### 7. Take a list as input in a single line containing 10 numbers as marks out of 100. The even positions in the list are marks of Tom and the odd positions are the marks of Jon. Calculate the average marks of both.

In [8]:
marks=list(map(int,input("Enter the marks: ").split()))
tom_marks=marks[0::2]
jon_marks=marks[1::2]
    
print(tom_marks)
print(jon_marks)

print("The Average marks of Tom : ",sum(tom_marks)/len(tom_marks))
print("The Average marks of jon : ",sum(jon_marks)/len(jon_marks))

Enter the marks: 60 70 74 80 90 84 85 87 89 99
[60, 74, 90, 85, 89]
[70, 80, 84, 87, 99]
The Average marks of Tom :  79.6
The Average marks of jon :  84.0

#### 8. Take a string and a character as input. Print the result having the character between each word of the given string.

In [3]:
a=input("Enter the string : ").split()
b=input("Enter the character : ")

b.join(a)

Enter the string : Hello good morning
Enter the character : abc

'Helloabcgoodabcmorning'

#### 9. Create a dictionary having three items. Key of each item is the name of a student, value associated with each key is a list of marks in five subjects. Given this dictionary print the average score of each student.

In [23]:
d1={'student1': [60,70,79,78,67],'student2': [70,76,82,84,86],'student3': [91,93,94,86,89] }
cov_list=list(d1.values())
cov_list

print("Average of student1 : " ,sum(d1['student1'])/len(d1['student1']))
print("Average of student2 : " ,sum(d1['student2'])/len(d1['student2']))
print("Average of student3 : " ,sum(d1['student3'])/len(d1['student3']))

Average of student1 :  70.8
Average of student2 :  79.6
Average of student3 :  90.6

#### 10. Take a string as input(may contain repetitive words), print a list consisting of unique words from the given string.

In [41]:
words=['Apple','Ball',"Bat","Apple","Apple","Basket","Bat","Ball"]
unique_words=set(words)
unique_words

{'Apple', 'Ball', 'Basket', 'Bat'}